@model Ngobar.Models.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading"> Belajar, Kolaborasi, Sharing pengetahuan</div>
            <p class="frontPageSubHeading"> Ngobar adalah Forum Ngoding and Ngobrol bareng.</p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search..." />
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPosts">Postingan Terbaru</h3>
        <table class="table table-hover" id="latestPostsTable">
            <tbody>
                @foreach (var post in Model.PostTerbaru)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl);"></div>
                            <div class="postTitle">
                                <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                    @post.Judul
                                </a>
                            </div>
                            <div class="postSubTitle">
                                @if (post.JumlahBalasan >= 1)
                                {
                                    <span>@post.JumlahBalasan balasan</span>
                                }
                                else
                                {
                                    <span>Tidak ada balasan</span>
                                }
                                <span class="postUser">
                                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.IdPembuat">
                                        @post.NamaPembuat
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>